<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Chats</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @switch (StaticClass.PagePhases)
    {
        case 0:
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Entrance" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Авторизоваться
                    </NavLink>
                </li>
            </ul>
            break;
        case 1:
            <!--<li class="nav-item px-3">-->
                @*страниа акаунта*@
                <!--<NavLink class="nav-link" href="PersonalAccount">
                    <span class="oi oi-home" aria-hidden="true"></span>личный кабинет
                </NavLink>
            </li>-->
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Chatss" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Чаты
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Friendlist">
                        <span class="oi oi-plus" aria-hidden="true"></span> Друзья
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Уведомления
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    @*страниа запросов в чат*@
                    <NavLink class="nav-link" href="EntranceTheLobby">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Запросов в чат
                    </NavLink>
                </li>

            </ul>
            break;
    }
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    private static int Perehot { get; set; }

    public void Per(int i)
    {
        Perehot = i;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StaticClass.OnChange += StateHasChanged;
    }

    public void Dizable()
    {
        StaticClass.OnChange -= StateHasChanged;
    }
}
